/* body{  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.cursor {  z-index: 999;
  background-color: #F2E800;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #F2E800, 0 0 60px #F2E800, 0 0 100px #F2E800;
}

.cursor:before {}

.header {
    padding: 3px;
    width: 100%;
    height: 70px;
    background-color: rgb(50, 167, 145);
    display: flex;
}

main {  display: flex;
}

#evaluation-form {  display: flex;
width: 675px;
flex-direction: column;
}

#trybewarts-forms-logo {  height: 500px;
}

.foto-hidden {  max-width: 100px;
    display: none;
}

.caixa-ckeck, .subject {  cursor: url(pena-redimensionada-rotacionada.webp), auto;
}