* {  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: large;
}

.header {
  padding: 3px;
  width: 100%;
  height: 70px;
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-around;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#trybewarts-header-title {
  color: white;
}

.input-geral{  margin: 0 10px;
  border-radius: 5px;
  padding: 5px 0  5px  10px;
  border: none;
}

#header-password-input {  max-width: 30%;}

.btn {border: 1px solid #ffffff;
  color: white;
  margin-right: 0;
}

.btn:hover {  background-color: #ffffff;
}

main {
  display: flex;
  padding: 40px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}


.foto-hidden {  max-width: 100px;
    display: none;
}

.caixa-ckeck, .subject {  cursor: url(pena-redimensionada-rotacionada.webp), auto;
}